Albert Cardona <sapristi@gmail.com> <acardona@ini.phys.ethz.ch>
Albert Cardona <sapristi@gmail.com> <albert@penguin.(none)>
Barry DeZonia <bdezonia@wisc.edu> <bdezonia@dyn-144-92-48-220.microscopy.wisc.edu>
Barry DeZonia <bdezonia@wisc.edu> <bdezonia@gmail.com>
Barry DeZonia <bdezonia@wisc.edu> <bdezonia@potato.(none)>
Barry DeZonia <bdezonia@wisc.edu> <bdezonia@sawdust.local>
Barry DeZonia <bdezonia@wisc.edu> <ipatron@dyn-72-33-17-193.uwnet.wisc.edu>
Christian Dietz <christian.dietz@uni-konstanz.de> <Christian.Dietz@uni-konstanz.de>
Christian Dietz <christian.dietz@uni-konstanz.de> <dietyc@atlas24.(none)>
Christian Dietz <christian.dietz@uni-konstanz.de> <dietzc85@googlemail.com>
Curtis Rueden <ctrueden@wisc.edu> <curtis@dyn-144-92-48-222.microscopy.wisc.edu>
Grant Harris <gharris@mbl.edu>
Jean-Yves Tinevez <jean-yves.tinevez@pasteur.fr> <jeanyves.tinevez@gmail.com>
Jean-Yves Tinevez <jean-yves.tinevez@pasteur.fr> <tinevez@pasteur.fr>
Johannes Schindelin <johannes.schindelin@gmx.de>
Jonathan Hale <squareys@googlemail.com>
Larry Lindsey <llindsey@clm.utexas.edu> <larry@minilap.(none)>
Lee Kamentsky <leek@broadinstitute.org> <leek@.broad.mit.edu>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
Martin Horn <martin.horn@uni-konstanz.de> <hornm@merkur22.(none)>
Martin Horn <martin.horn@uni-konstanz.de> <horn_martin@gmx.de>
Michael Zinsmaier <michael.zinsmaier@gmx.de> <michael.zinsmaier@googlemail.com>
Stefan Helfrich <s.helfrich@fz-juelich.de>
Stefan Helfrich <s.helfrich@fz-juelich.de> <stefan.helfrich@googlemail.com>
Stephan Preibisch <stephan.preibisch@gmx.de> <Stephan@mobilejimmy.(none)>
Stephan Preibisch <stephan.preibisch@gmx.de> <admin@tomancak-pc-3.(none)>
Stephan Preibisch <stephan.preibisch@gmx.de> <preibisch@mpi-cbg.de>
Stephan Preibisch <stephan.preibisch@gmx.de> <preibisch@tomancak-pc-4.(none)>
Stephan Saalfeld <saalfeld@mpi-cbg.de> <saalfeld@saalfeld-mac.(none)>
Stephan Saalfeld <saalfeld@mpi-cbg.de> <saalfeld@tomancak-pc-4.(none)>
Tobias Pietzsch <tobias.pietzsch@gmail.com>
Tobias Pietzsch <tobias.pietzsch@gmail.com> <tobias@Tobiass-MacBook-Pro.local>
Tobias Pietzsch <tobias.pietzsch@gmail.com> <tobias@client.mpi-cbg.de>
Tobias Pietzsch <tobias.pietzsch@gmail.com> <tobias@private-pigino.mpi-cbg.de>
